@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Myriad Pro";
  src: url("MyriadPro-Regular.eot");
  src: local("Myriad Pro Regular"), local("MyriadPro-Regular"), url("MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), url("MyriadPro-Regular.woff2") format("woff2"), url("MyriadPro-Regular.woff") format("woff"), url("MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  background: #87509C;
  height: 100px;
  padding: 30px 0 0 0;
  position: fixed;
  width: 100%;
  z-index: 50;
}

.container {
  max-width: 1103px;
  margin: 0 auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  max-height: 36px;
  display: block;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__menu ul li {
  font-size: 16px;
  line-height: 18px;
  margin: 0 10px 0 0;
  display: block;
  padding: 7px 18px 0;
  font-family: "Titillium Web";
  text-transform: uppercase;
}
.header__menu ul li:last-child {
  margin: 0;
}
.header__menu ul li a {
  color: #fff;
}

.header__link.active {
  height: 32px;
  background: #643A79;
  border-radius: 4px;
  padding: 0 18px 0;
}

.mainblock {
  min-height: 600px;
  padding: 224px 0 0 0;
  background: #87509C;
}

.mainblock__title {
  font-family: "Titillium Web";
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  color: #fff;
}

.btn {
  display: block;
  text-transform: uppercase;
  height: 70px;
  width: 300px;
  margin: 0 auto;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-family: "Titillium Web";
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
}

.mainblock__btn {
  margin: 50px auto 0;
  background: #EB7D4B;
  -webkit-box-shadow: 0 4px 0 rgba(235, 125, 75, 0.5);
          box-shadow: 0 4px 0 rgba(235, 125, 75, 0.5);
  overflow: hidden;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.mainblock__btn:hover {
  margin: 54px auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.service {
  padding: 104px 0 0 0;
  background: #17C2A4;
  min-height: 700px;
}

.service__title {
  color: #fff;
}

.title {
  font-family: "Titillium Web";
  font-size: 40px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 700;
}

span.des {
  display: block;
  width: 87px;
  height: 4px;
  background: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin: 12.5px auto 17px;
}

.service__subtitle {
  color: #fff;
}

.subtitle {
  font-family: "Titillium Web";
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  max-width: 678px;
  margin: 0 auto;
  text-align: center;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0 0 0;
}

.service__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.service__column-image img {
  display: block;
  max-height: 120px;
}

.service__column-name {
  margin: 23px 0 0 0;
  text-transform: uppercase;
  font-family: "Titillium Web";
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
}

.service__column-desc {
  padding: 0 40px;
  margin: 16px 0 0 0;
  font-family: "Titillium Web";
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.team {
  padding: 105px 0 0 0;
  background: #E7F1F8;
  min-height: 900px;
}

.team__title {
  color: #3C4761;
}

.team__subtitle {
  color: #3C4761;
}

.team__row {
  margin: 53px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__column-image img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.team__column-image img:hover {
  width: 250px;
  height: 250px;
}

.team__column-name {
  margin: 32px 0 0 0;
  font-family: "Titillium Web";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 18px;
  color: #27283D;
  text-transform: uppercase;
}

.team__column-job {
  margin: 5px 0 0 0;
  font-family: "Titillium Web";
  text-align: center;
  letter-spacing: 1px;
  line-height: 18px;
  color: #30BAE7;
}

.team__column-desc {
  margin: 20px 0 0 0;
  font-family: "Titillium Web";
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1px;
  font-size: 16px;
  text-align: center;
  min-height: 150px;
  max-height: 500px;
  padding: 0 30px;
}

.team__column-contact {
  margin: 3px 0 0 0;
}
.team__column-contact ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.team__column-contact ul li {
  margin: 0 12px 0 0;
}
.team__column-contact ul li:last-child {
  margin: 0;
}

.skill {
  min-height: 655px;
  padding: 100px 0 0 0;
  background: #fff;
}

.skill__title {
  color: #3C4761;
}

.skill__subtitle {
  color: #3C4761;
}

.skill__row {
  margin: 84px 0 0 0;
}
.skill__row ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.skill__row ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skill__row ul li:nth-child(1) .skill__stat {
  background: url("../img/skill/01.svg") center no-repeat;
  z-index: 1;
}
.skill__row ul li:nth-child(2) .skill__stat {
  background: url("../img/skill/02.svg") center no-repeat;
  z-index: 1;
}
.skill__row ul li:nth-child(3) .skill__stat {
  background: url("../img/skill/03.svg") center no-repeat;
  z-index: 1;
}
.skill__row ul li:nth-child(4) .skill__stat {
  background: url("../img/skill/04.svg") center no-repeat;
  z-index: 1;
}

.skill__stat {
  position: relative;
  min-width: 160px;
  min-height: 160px;
}
.skill__stat p {
  position: absolute;
  top: 65px;
  left: 105px;
  font-family: "Titillium Web";
  color: #3C4761;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 20px;
}
.skill__stat p span {
  font-size: 32px;
}

.skill__label {
  margin: 24px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
  font-family: "Titillium Web";
  font-weight: 700;
  line-height: 18px;
  color: #3C4761;
  text-align: center;
}

.skill__base {
  background: url("../img/skill/base.svg") center no-repeat;
  z-index: 0;
}

.portfolio {
  padding: 100px 0 0 0;
  background: #FFDD99;
  min-height: 1400px;
}

.portfolio__title {
  color: #393939;
}

.portfolio__subtitle {
  color: #393939;
}

.portfolio__row-btn {
  margin: 42px 0 0 0;
}
.portfolio__row-btn ul {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio__row-btn ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  margin: 0 10px 0 0;
}
.portfolio__row-btn ul li:last-child {
  margin: 0;
}

.portfolio__link {
  display: block;
  background: #E5C37F;
  border-radius: 4px;
  line-height: 38px;
  text-transform: uppercase;
  font-family: "Titillium Web";
  font-size: 18px;
  letter-spacing: 1px;
}
.portfolio__link a {
  display: block;
  color: #393939;
  text-align: center;
}
.portfolio__link.active {
  background: #fff;
}

.portfolio__block {
  margin: 2px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.portfolio__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__image {
  margin: 60px 0 0 0;
}

.portfolio__label {
  text-transform: uppercase;
  margin: 26px 0 0 0;
  font-family: "Titillium Web";
  letter-spacing: 1px;
  font-size: 18px;
  line-height: 19px;
  color: #393939;
}

.portfolio__btn {
  margin: 80px auto 0;
  background: #17C2A4;
  -webkit-box-shadow: 0 4px 0 rgba(23, 194, 164, 0.5);
          box-shadow: 0 4px 0 rgba(23, 194, 164, 0.5);
  overflow: hidden;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
.portfolio__btn:hover {
  margin: 84px auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.people {
  padding: 100px 0 0 0;
  background: #D74680;
  min-height: 900px;
}

.people__title {
  color: #fff;
}

.people__subtitle {
  color: #fff;
}

.people__block {
  margin: -77px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
}

.people__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  margin: 117px 0 0 0;
}

.people__image img {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.people__body {
  margin: 0 0 0 48px;
}

.people__quote {
  min-height: 125px;
  font-family: "Titillium Web";
  font-style: italic;
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 30px;
}

.people__name {
  margin: 19px 0 0 0;
  font-family: "Titillium Web";
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 26px;
}

.people__job {
  font-family: "Titillium Web";
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
  color: #FFDD99;
}

.info {
  background: #3C5499;
  padding: 100px 0 0 0;
  min-height: 800px;
}

.info__title {
  color: #fff;
}

.info__subtitle {
  color: #fff;
}

.info__mail {
  display: block;
  border-radius: 4px;
}

.info__message {
  display: block;
  border-radius: 4px;
  background: #273A71;
  max-width: 860px;
  margin: -30px auto 0;
}

button {
  display: block;
  max-width: 300px;
  margin: 60px auto 0;
  background: #30BAE7;
  -webkit-box-shadow: 0 4px 0 rgba(48, 186, 231, 0.5);
          box-shadow: 0 4px 0 rgba(48, 186, 231, 0.5);
  overflow: hidden;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}
button:hover {
  margin: 64px auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.info__block {
  max-width: 860px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
form ul li div {
  margin: 0 32px 0 0;
}
form ul li input {
  background: #273A71;
  border-radius: 4px;
  height: 56px;
  width: 414px;
  font-size: 18px;
  padding: 25px;
  color: #fff;
}
form ul li:last-child div {
  margin: 0;
}
form textarea {
  background: #273A71;
  border-radius: 4px;
  font-size: 18px;
  padding: 25px;
  color: #fff;
  resize: none;
  min-height: 200px;
}

.footer {
  background: #344B8E;
  min-height: 110px;
}

.footer__list {
  padding: 40px 0;
}
.footer__list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.footer__list ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100/7%;
          flex: 1 1 100/7%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__link {
  font-family: "Titillium Web";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 30px;
  color: #fff;
}
.footer__link.twitter {
  color: #30BAE7;
}