@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@font-face {
	font-family: 'Myriad Pro';
	src: url('MyriadPro-Regular.eot');
	src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
	url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
	url('MyriadPro-Regular.woff2') format('woff2'),
	url('MyriadPro-Regular.woff') format('woff'),
	url('MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.wrapper {}
//////header///////
.header {
	background: #87509C;
	height:100px;
	padding: 30px 0 0 0;
	position:fixed;
	width:100%;
	z-index:50;
}
.container {
	max-width:1103px;
	margin:0 auto;
}
.header__body {
	display: flex;
	justify-content:space-between;
	align-items:center;
}
.header__logo {
	img{
		max-height:36px;
		display:block;
	}
}
.header__menu {
	ul{
		display: flex;
		justify-content:space-between;
		li{
			font-size: 16px;
			line-height: 18px;
			margin: 0 10px 0 0;
			display:block;
			padding:7px 18px 0;
			font-family: "Titillium Web";
			text-transform: uppercase;
			&:last-child{
				margin:0;
			}
			a{color:#fff;
			}

		}
	}
}
.header__link {
	&.active{
		height:32px;
		background: #643A79;
		border-radius: 4px;
		padding:0 18px 0;
	}
}
/////////////mainblock///////////
.mainblock {
	min-height:600px;
	padding: (152px + 72px) 0 0 0;
	background: #87509C;
}
.mainblock__title {
	font-family: "Titillium Web";
	font-weight: 700;
	font-size: 42px;
	line-height: 49px;
	text-align:center;
	color:#fff;
}
.btn {
	display:block;
	text-transform: uppercase;
	height:70px;
	width:300px;
	margin:0 auto;
	border-radius: 4px;
	color:#fff;
	font-size: 18px;
	font-family: "Titillium Web";
	letter-spacing: 1px;
	font-weight: 600;
	line-height: 70px;
	text-align: center;
}
.mainblock__btn {
	margin: 50px auto 0;
	background: #EB7D4B;
	box-shadow:  0 4px 0 rgba(#EB7D4B,0.5);
	overflow:hidden;
	transition:all 0.1s ease 0s;
	&:hover{
		margin:54px auto;
		box-shadow: none;
	}
}

///////service//////
.service {
	padding:104px 0 0 0;
	background: #17C2A4;
	min-height:700px;
}
.service__title {
	color:#fff;
}
.title {
	font-family: "Titillium Web";
	font-size: 40px;
	line-height: 30px;
	text-align:center;
	letter-spacing: 3px;
	font-weight: 700;

}
span.des{
	display: block;
	width:87px;
	height:4px;
	background: rgba(0,0,0,0.1);
	margin:0 auto;
	margin: 12.5px auto 17px;
}
.service__subtitle {
	color:#fff;
}
.subtitle {
	font-family: "Titillium Web";
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 26px;
	max-width:678px;
	margin:0 auto;
	text-align: center;
}
.service__row {
	display: flex;
	justify-content:space-between;
	margin: 60px 0 0 0;
}
.service__column {
	display:flex;
	flex-direction:column;
	align-items:center;
	flex:0 0 25%;
}
.service__column-image {
	img{
		display:block;
		max-height:120px;
	}
}
.service__column-name {
	margin:23px 0 0 0;
	text-transform: uppercase;
	font-family: "Titillium Web";
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 18px;
	color:#fff;
	font-weight: 700;
}
.service__column-desc {
	padding: 0 40px;
	margin: 16px 0 0 0;
	font-family: "Titillium Web";
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 24px;
	color:#fff;
	font-weight: 300;
	text-align:center;
}
///////team///////
.team {
	padding:105px 0 0 0;
	background:#E7F1F8;
	min-height:900px;
}
.team__title {
	color:#3C4761;
}
.team__subtitle {
	color:#3C4761;
}
.team__row {
	margin:53px 0 0 0;
	display: flex;
	justify-content:space-between;
}
.team__column {
	display: flex;
	flex:0 0 25%;
	align-items:center;
	flex-direction:column;
}
.team__column-image {
	img{
		display:block;
		//object-fit:none;
		width:200px;
		height:200px;
		border-radius: 50%;
		transition:all 0.5s ease 0s;
		&:hover{
			width:250px;
			height:250px;
		}
	}
}
.team__column-name {
	margin:32px 0 0 0;
	font-family: "Titillium Web";
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 18px;
	color:#27283D;
	text-transform: uppercase;
}
.team__column-job {
	margin:5px 0 0 0;
	font-family: "Titillium Web";
	text-align:center;
	letter-spacing: 1px;
	line-height: 18px;
	color:#30BAE7;
}
.team__column-desc {
	margin: 20px 0 0 0;
	font-family: "Titillium Web";
	font-weight: 300;
	line-height: 24px;
	letter-spacing: 1px;
	font-size: 16px;
	text-align: center;
	min-height:150px;
	max-height:500px;
	padding:0 30px;
}
.team__column-contact {
	margin:3px 0 0 0;
	ul{
		display:flex;
		li{
			margin:0  12px 0 0;
			&:last-child{
				margin:0;
			}
		}
	}
}
.team__column-link {}

//////skill//////
.skill {
	min-height:655px;
	padding:100px 0 0 0;
	background: #fff;
}
.skill__title {
	color:#3C4761;
}
.skill__subtitle {
	color:#3C4761;
}
.skill__row {
	margin:84px 0 0 0 ;
	ul{
		display:flex;
		li{
			flex:0 0 25%;
			display:flex;
			flex-direction:column;
			&:nth-child(1){
				.skill__stat{
					background: url("../img/skill/01.svg") center no-repeat;
					z-index:1;
				}
			}
			&:nth-child(2){
				.skill__stat{
					background: url("../img/skill/02.svg") center no-repeat;
					z-index:1;
				}
			}
			&:nth-child(3){
				.skill__stat{
					background: url("../img/skill/03.svg") center no-repeat;
					z-index:1;
				}
			}
			&:nth-child(4){
				.skill__stat{
					background: url("../img/skill/04.svg") center no-repeat;
					z-index:1;
				}
			}
		}
	}
}
.skill__column {

}
.skill__stat {
	position:relative;
	p{
		position:absolute;
		top:65px;
		left:105px;
		font-family: "Titillium Web";
		color:#3C4761;
		font-weight: 300;
		font-size: 50px;
		letter-spacing: 1px;
		line-height: 20px;
		span{
			font-size: 32px;
		}
	}
	min-width:160px;
	min-height:160px;
}
.skill__label {
	margin:24px 0 0 0;
	text-transform:uppercase;
	letter-spacing: 1px;
	font-size: 24px;
	font-family: "Titillium Web";
	font-weight: 700;
	line-height: 18px;
	color:#3C4761;
	text-align:center;
}
.skill__base{
	background: url("../img/skill/base.svg") center no-repeat;
	z-index:0;
}
/////portfolio//////
.portfolio {
	padding:100px 0 0 0;
	background:#FFDD99;
	min-height:1400px;
}
.portfolio__title {
	color:#393939
}
.portfolio__subtitle {
	color:#393939
}
.portfolio__row-btn {
	margin:42px 0 0 0;
	ul{
		display: block;
		display:flex;
		justify-content:space-around;
		align-items:center;
		li{
			flex:0 0 20%;
			margin:0 10px 0 0;
			&:last-child{
				margin:0;
			}
		}
	}
}
.portfolio__link {
	display:block;
	background: #E5C37F;
	border-radius: 4px;
	line-height: 38px;
	text-transform: uppercase;
	font-family: "Titillium Web";
	font-size: 18px;
	letter-spacing: 1px;
	a{
		display:block;
		color:#393939;
		text-align: center;
	}

	&.active{
		background: #fff;
	}
}
.portfolio__block {
	margin: 2px 0 0 0;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;

}
.portfolio__item {
	flex: 1 1 25%;
	display: flex;
	align-items:center;
	flex-direction:column;
}
.portfolio__image {
	margin:60px 0 0 0;
}
.portfolio__label {
	text-transform: uppercase;
	margin:26px 0 0 0;
	font-family: "Titillium Web";
	letter-spacing: 1px;
	font-size: 18px;
	line-height: 19px;
	color:#393939;
}
.portfolio__btn {
	margin: 80px auto 0;
	background: #17C2A4;
	box-shadow:  0 4px 0 rgba(#17C2A4,0.5);
	overflow:hidden;
	transition:all 0.1s ease 0s;
	&:hover{
		margin:84px auto;
		box-shadow: none;
	}
}
.people {
	padding:100px 0 0 0;
	background: #D74680;
	min-height:900px;
}
.people__title {
	color:#fff;
}
.people__subtitle {
	color:#fff;

}
.people__block {
	margin:-77px 0 0 0;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
	//align-items:center;
	color:#fff;
}
.people__item {
	display:flex;
	flex: 0 0 45%;
	margin:117px 0 0 0;
}
.people__image {
	img{
		//object-fit:none;
		width:96px;
		height:96px;
		border-radius: 50%;

	}
}
.people__body {
	margin:0  0 0 48px;
}
.people__quote {
	min-height:125px;
	font-family: "Titillium Web";
	font-style: italic;
	font-size: 21px;
	letter-spacing: 1px;
	line-height: 30px;
}
.people__name {
	margin:19px 0 0 0;
	font-family: "Titillium Web";
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 26px;
}
.people__job {
	font-family: "Titillium Web";
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 26px;
	color:#FFDD99;
}
.info {
	background: #3C5499;
	padding:100px 0 0 0;
	min-height:800px;
}
.info__title {color:#fff;
}
.info__subtitle {color:#fff;}


.info__mail {
	display: block;
	border-radius: 4px;

}
.info__message {
	display: block;
	border-radius: 4px;
	background: #273A71;
	max-width:860px;
	margin: -30px auto 0;
}
button{
	display: block;
	max-width:300px;
	margin: 60px auto 0;
	background: #30BAE7;
	box-shadow:  0 4px 0 rgba(#30BAE7,0.5);
	overflow:hidden;
	transition:all 0.1s ease 0s;
	&:hover{
		margin:64px auto;
		box-shadow: none; 
	}
	
}
.info__block {
	max-width:860px;
	margin:50px auto;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
	flex: 0 0 50%;
}
form {
	ul{
		display:flex;
		//justify-content:space-between;
		li{
			div{
				margin: 0 32px 0 0;
			}
			input{
				background: #273A71;
				border-radius: 4px;
				height:56px;
				width:414px;
				font-size: 18px;
				padding:25px;
				color:#fff;
			}
		}
		li:last-child{
			div{
				margin:0;
			}
		}
	}
	textarea{
		background: #273A71;
		border-radius: 4px;
		font-size: 18px;
		padding: 25px;
		color:#fff;
		resize:none;
		min-height:200px;
	}
}
.footer {
	background: #344B8E;
	min-height:110px;
}
.footer__list {
	padding:40px 0;
	ul{
		display:flex;
		justify-content:space-around;

		li{
			flex:1 1 100/7%;
			flex-wrap:wrap;
		}
	}
}
.footer__link {
	font-family: "Titillium Web";
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 30px;
	color:#fff;
	&.twitter{
		color:#30BAE7;
	}
}
.twitter {}